body {
  max-width: 48em;
}
h1 {
  text-align: center;
}
#code-editor {
  outline: 1px solid gray;
}
#run {
  font-size: 24px;
}
.success {
  color: #2c8898;
}
.failure {
  color: #982c61;
}
nav {
  display: inline-block;
  vertical-align: top;
  width: 20%;
}
nav.closed {
  display: block;
  margin: 16px;
}
nav.closed > ol {
  display: none;
}
ol, ul {
  padding-left: 0px;
}
ul {
  list-style: none;
}
nav ul > li {
  padding: 4px 8px;
  border-radius: 6px;
}
nav li.active, nav li.active * {
  background: #2c8898;
  color: #fff;
}
#main {
  display: block;
  width: 100%;
}
#main.nav-open {
  display: inline-block;
  width: 75%;
}
.tooltip {
  position: relative;
  /*display: inline-block;
  border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext {
  font-size: 16px;
  visibility: hidden;
  background-color: black;
  color: #fff;
  opacity: 0.7;
  text-align: center;
  border-radius: 6px;
  padding: 6px;

  /* Position the tooltip */
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}